
.top-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #e1cea3;
}

header {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(179, 211, 172, .5);
    color: #fff;

    display: flex;
    justify-content: space-between;
}

.logo {
    margin-left: 25px;
}

#contact {
    margin-right: 25px;
    cursor: pointer;
    padding-right: 25px;
    padding-left: 25px;
    height: 100%;
    line-height: 80px;
}

#contact:hover {
    background-color: rgba(255, 255, 255, .5);
}



.header-content {
    display: flex;
    align-items: center;
    color: #0074bf;
}


.deco {
    display: inline-block;
    width: 30px;
    height: 30px;
    color: rgba(255, 255, 255, .8);

}

#dec1 {
    position: absolute;
    top: 100px;
    left: 260px;
    color: rgba(124, 203, 123, 0.6);
}

#dec2 {
    position: absolute;
    bottom: 100px;
    left: 20px;
    color: rgba(208, 109, 140, 0.6);
}

#dec3 {
    position: absolute;
    bottom: 400px;
    right: 45px;
    color: rgba(242, 207, 1, 0.6);
}

main {
    background: #e1cea3;
}




.top-bg-black {
    width: 85%;
    height: 100vh;
    background: linear-gradient(217deg, rgba(179, 211, 172, .8), rgba(214, 133, 176, .8));

    position: absolute;
    top: 0px;
    right: 0;

}

.top-bg {
    background-image: url(../img/inu.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 90%;
    height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
}

/*モーダルスタイル*/
#modal-bg {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 4;
}

.modal-content {
    display: none;
    background: #ddd;
    width: 400px;
    height: 300px;

    position: fixed;
    top: 50%;
    right: 50%;
    bottom: 50%;
    left: 50%;
    z-index: 5;

    border-radius: 10px;

    padding: 15px;
    box-sizing: border-box;

    margin-top: -150px;
    margin-left: -200px;

}

.modal-close {
    font-size: 30px;
    display: flex;
    flex-direction: row-reverse;
}

.modal-close span {
    cursor: pointer;
}

.modal-form {
    display: flex;
    justify-content: center;
}

.register {
    cursor: pointer;
    background-color: #f00;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;

}

.subtitle {
    font-size: 25px;
    padding: 15px;
    text-align: center;
}

/*SWIPER*/
.swiper-container {
    width: 915px;
    height: 350px;
}

.bl-list li{
    padding-right: 5px;
    box-sizing: border-box;
    width: 305px;
}
