
.top-container {
    /*display: none;*/
    position: relative;
    width: 100%;
    height: 900px;
    background-color: #e1cea3;
}

header {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(179, 211, 172, .5);
    color: #fff;

    display: flex;
    justify-content: space-between;
}

.header-content {
    display: inline-block;
}

.logo {
    margin-left: 50px;
}

.btn-group {
    display: flex;
    margin-right: 25px;
    padding-right: 25px;
    padding-left: 25px;
    height: 100%;
    line-height: 80px;
}

.btn-group li:first-child {
    margin-right: 25px;
}

.btn-group li {
    cursor: pointer;
    padding-right: 10px;
    padding-left: 10px;
}
.btn-group li:hover {
    background: rgba(255, 255, 255, .3);
}

.header-content {
    display: flex;
    align-items: center;
    color: #0074bf;
}


.deco {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

#dec1 {
    position: absolute;
    top: 100px;
    left: 260px;
    color: rgba(124, 203, 123, 0.7);
}

#dec2 {
    position: absolute;
    bottom: 100px;
    left: 20px;
    color: rgba(208, 109, 140, 0.7);
}

#dec3 {
    position: absolute;
    bottom: 400px;
    right: 45px;
    color: rgba(242, 207, 1, 0.7);
}

.title {
    font-size: 30px;
    margin-left: 25px;
    margin-top: 280px;
}

/*ハンバーガーメニュー*/
.hamburger {
    /*display: none;*/
    width: 25px;
    align-self: center; /*フレックスアイテムのクロス軸方向の揃え位置を指定 rowでもcolumnでも便利*/
    margin-left: 20px;
    cursor: pointer;
}

.hamburger span {
    position: relative;
    display: block;
}

.hamburger span:before {
    content: "";
    position: absolute;;
    left: 0;
    top: 9px;
}
.hamburger span:after {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
}

.hamburger span,
.hamburger span:after,
.hamburger span:before {
    width: 28px;
    height: 5px;
    background-color: #fff;
    transition: all 0.5s;
    backface-visibility: hidden; /*3D空間で変形する要素の背面の表示方法を指定する*/
    border-radius: 2px;
}
.hamburger.on span {
    background-color: transparent;
}

.hamburger.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
}

#drower-bg {
    /*display: none;*/
    position: fixed;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5)
}

.drower {
    position: absolute;
    top: 80px;
    left: 0;
    width: 200px;
    height: 400px;
    background-color: rgba(0, 0, 0, .5);
    transition-duration: 600ms;
}

.drower.on {
    right: 0;
    transition-duration: 600ms;

}











main {
    background: #e1cea3;
}




.top-bg-black {
    width: 85%;
    height: 900px;
    background: linear-gradient(217deg, rgba(179, 211, 172, .8), rgba(214, 133, 176, .8));

    position: absolute;
    top: 0px;
    right: 0;

}

.top-bg {
    background-image: url(../img/inu.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 90%;
    height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
}

/*モーダルスタイル*/
#modal-bg {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 4;
}

.modal-content {
    display: none;
    background: #ddd;
    width: 400px;
    height: 300px;

    position: fixed;
    top: 50%;
    right: 50%;
    bottom: 50%;
    left: 50%;
    z-index: 5;

    border-radius: 10px;

    padding: 15px;
    box-sizing: border-box;

    margin-top: -150px;
    margin-left: -200px;

}

.modal-close {
    font-size: 30px;
    display: flex;
    flex-direction: row-reverse;
}

.modal-close span {
    cursor: pointer;
}

.modal-form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 250px;
}

.modal-form input {
    font-size: 16px;
    text-indent: 16px;
    line-height: 25px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.modal-form textarea {
    font-size: 16px;
    text-indent: 16px;
    height: 80px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.modal-subtitle {
    margin-bottom: 5px;
    text-align: center;
}

.form-btn {
    cursor: pointer;
    background-color: skyblue;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;

}

.subtitle {
    font-size: 25px;
    padding: 15px;
    text-align: center;
}

/*SWIPER*/
.swiper-container {
    width: 915px;
    height: 350px;
}

.bl-list li{
    padding-right: 5px;
    box-sizing: border-box;
    width: 305px;
}



@media screen
